{% extends "base.html" %}

{% block content %}


<h1>
    Are you sure you want to delete the following post?
    <br>
    <br>
</h1>
<h4>{{ post.title }} </h4>
<p>{{ post.body }}</p>


{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<p>
    <br>
    <br>
    <button class="btn btn-outline-danger btn-md" onclick="document.location='/edit/{{ post.id }}/delete/'">Yes, delete it</button>
    <button class="btn btn-outline-success btn-md" onclick="document.location='/edit/{{ post.id }}'">No, keep it</button>
</p>



{% endblock %}