{% extends "base.html" %}
{% block title %}Executive page{% endblock %}
{% block content %}
<h2>Excecutive page</h2>

<h5><br>Add a new category</h5>

	<form action="/add_category/" method="post">{% csrf_token %}
		<label for="new_category">New Category: </label>
		<input id="new_cat" type="text" name="new_cat" value="{{ new_cat }}">
		<input class="btn btn-outline-primary" type="submit" value="OK">
	</form>

<br>

{% if needs_approval%}
<h4>Needs Approval</h4>
<table class="table table-hover">
<tr>
	<th>Posts</th><th>Author</th><th><center>Editor</center></th><th></th><th></th>
</tr>	
	{% for post in needs_approval %}
		<tr>
			 <td onclick="document.location='/edit/{{ post.id }}'">
				 {{ post.title }}
			 </td>
			<td onclick="document.location='/edit/{{ post.id }}'">({% for author in post.author.all %}
																		{{ author.username }},
                                        							{% endfor %})</td>
			<td>
				<center>{{ post.editor }}</center>
			</td>
			<td>
				<button class="btn btn-outline-success btn-sm"
						onclick="document.location='/publish/{{ post.id }}'">Publish
				</button>
			</td>
			<td>
				<button class="btn btn-outline-success btn-sm"
						onclick="document.location='/back_to_proofreading/{{ post.id }}'">Back to proofreading
				</button>
			</td>
		</tr>
	{% endfor %}
</table>
{% endif %}

{%if published%}
<h4>Published Content</h4>
<table class="table table-hover">
<tr>
	<th>Posts</th><th>Author</th><th><center>Editor</center></th>
</tr>
	{% for post in published %}
		<tr>
			 <td onclick="document.location='/edit/{{ post.id }}'">
				 {{ post.title }}
			 </td>
			<td onclick="document.location='/edit/{{ post.id }}'">({% for author in post.author.all %}
																		{{ author.username }},
                                        							{% endfor %})</td>
			<td>
				<center>{{ post.editor }}</center>
			</td>
		</tr>
	{% endfor %}
</table>
{% endif %}

<h4>Other Content</h4>
<table class="table table-hover">
<tr>
	<th>Posts</th><th>Author</th><th><center>Editor</center></th>
</tr>
	{% for post in other %}
		<tr>
			 <td onclick="document.location='/edit/{{ post.id }}'">
				 {{ post.title }}
			 </td>
			<td onclick="document.location='/edit/{{ post.id }}'">({% for author in post.author.all %}
																		{{ author.username }},
                                        							{% endfor %})</td>
			<td>
				<center>
					{% if post.editor is none %}
							<form method="GET" action="">
							<center>
								<input type="hidden" name="selected_post" value="{{ post.id }}">
								<select name="selected_value"  onchange="this.form.submit()">
									<option value="" selected="selected">Choose from list</option>
									{% for editor in editors %}
										<option value="{{ editor.username }}">{{ editor.username }}</option>
									{% endfor %}
								</select>
								
								</center>
							</form>
					{% else %}
					{{ post.editor }}

					{% endif %}

				</center>
			</td>
		</tr>
	{% endfor %}
</table>


{% endblock %}