{% extends "base.html" %}
{% block title %}My Page{% endblock %}
{% block content %}
<h2>My Page</h2>
<br>
<h4>Posts assigned to me for proofreading</h4>
<table class="table table-hover">
	<tr><th>Posts</th><th>Author</th><th></th></tr>
 		{% for post in assigned_to_logged_in_user %}
			<tr class="pointer">
				<td onclick="document.location='/edit/{{ post.id }}'">{{ post.title }}</td>
				<td>({% for author in post.author.all %}
						{{ author.username }},
					{% endfor %})</td>
				{% if not post.published %}
					<td>
						<center>
							<button class="btn btn-outline-success btn-sm"
									onclick="document.location='/submit_for_approval/{{ post.id }}'">Submit for approval
							</button>
						</center>
					</td>
				{% endif %}
			</tr>
 		{% endfor %}
	</table>
<br>
{% if posts %}
	<h4>My Posts</h4>
	<table class="table table-hover">
	<tr><th>Posts</th><th>Author</th><th></th></tr>
 		{% for post in posts %}
	<tr class="pointer">
		<td onclick="document.location='/edit/{{ post.id }}'">{{ post.title }}</td>
		<td>({% for author in post.author.all %}
				{{ author.username }},
			{% endfor %})</td>
		<td>
		{% if not post.published and not post.needs_proofreading %}
			<center>
				<button class="btn btn-outline-success btn-sm"
						onclick="document.location='/submit_to_proofreading/{{ post.id }}'">Submit for proofreading
				</button>
			</center>
		{% endif %}
		</td>
	</tr>
 		{% endfor %}
	</table>
{% endif %}

{% if needs_proofreading and is_editor %}
<br>
<h4>Needs Proofreading</h4>
<table class="table table-hover">
<tr>
	<th>Posts</th><th>Author</th><th><center>Editor</center></th>
</tr>
	{% for post in needs_proofreading %}
		<tr>
			 <td onclick="document.location='/edit/{{ post.id }}'">
				 {{ post.title }}
			 </td>
			<td onclick="document.location='/edit/{{ post.id }}'">({% for author in post.author.all %}
																		{{ author.username }},
                                        							{% endfor %})</td>
			<td>
				{% if post.editor is None %}
				<center><button class="btn btn-outline-secondary btn-sm" onclick="document.location='/assign/{{ post.id }}'">Assign to self</button></center>
				{% else %}
				<center>{{ post.editor }}</center>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</table>
{% endif %}
<h4>Request new role</h4>
<table class="table table-hover">
	<tr>
		<th>Role</th><th colspan="2">Request Role</th>
	</tr>
		{% for group in groups %}
			<tr>
				<td>
					{{ group }}
				</td>
				
					{% if group in user.groups.all %}
					<td colspan="2">Assigned</td>
					{% else %}
					<td><button class="btn btn-outline-secondary btn-sm" onclick="document.location='/request/role/{{ group.id }}'">Request</button></td>
						{% for role in role_requests %}
							{% ifequal user role.user %}
							{% ifequal group role.group %}
								<td>Request pending</td>
							{% endifequal %}
							{% endifequal %}
						{% endfor %}
					{% endif %}
			</tr>
		{% endfor %}
</table>
{% if request.user.is_superuser %}
<h4>Role requests</h4>
<table class="table table-hover">
	<tr>
		<th>User</th><th>Requested Role</th><th>Approve</th><th>Deny</th>
	</tr>
	{% for request in role_requests %}
		<tr>
			<td>
				{{ request.user }}
			</td>
			<td>
				{{ request.group.name }}
			</td>
			<td>
				<button class="btn btn-outline-secondary btn-sm" onclick="document.location='/approve/role/{{ request.id }}'">Approve</button>
			</td>
			<td>
				<button class="btn btn-outline-secondary btn-sm" onclick="document.location='/deny/role/{{ request.id }}'">Deny</button>
			</td>
		</tr>
	{% endfor %}
</table>
{% endif %}
{% endblock %}
