{% extends "base.html" %}
{% block title %}My Page{% endblock %}
{% block content %}
	<h2>My Page</h2>

	{% if posts %}
	<h4>My Posts</h4>
	<table>
	<tr><th>Posts</th><th>Author</th></tr>
 		{% for post in posts %}
	<tr>
		 <td><a href="/edit/{{ post.id }}">{{ post.title }}</a></td><td> ({{post.author}})</td>
	</tr>
 		{% endfor %}
	</table>
{% endif %}

{% if needs_proofreading %}
<h4>Needs Proofreading</h4>
<table>
<tr>
	<th>Posts</th><th>Author</th><th>Editor</th>
</tr>
	{% for post in needs_proofreading %}
<tr>
	 <td><a href="/edit/{{ post.id }}">{{ post.title }}</a></td><td>({{post.author}})</td><td>
	 	<button onclick="#">Assign</button>
	</button>
</tr>
	{% endfor %}
</table>
{% endif %}
{% endblock %}

