{% extends "base.html" %}
{% block title %}My profile{% endblock %}
{% block content %}
<h2> {{ user.username }}'s page </h2>
<br>
<table class="table borderless">	
	{% if author %}
	<tr><center><td><button class="btn btn-sm btn-outline-primary" onclick="document.location='/subscribe_author/{{ user.id }}'">Subscribe</button></td></td></tr>
	{% endif %}
	<tr><td>Username:</td><td>{{user.username}}</td></tr>
	<tr><td>Firstname:</td><td>{{user.first_name}}</td></tr>
	<tr><td>Surname:</td><td>{{user.last_name}}</td></tr>
	<tr><td>Email:</td><td>{{user.email}}</td></tr>
</table>

{% endblock %}
