{% extends "base.html" %}
{% block title %}Subscriptions{% endblock %}
{% block content %}
	<h4>Subscriptions</h4>
	<h6><b>Authors</b></h6>
	{% for author in subscriptions %}
		<div>{{ author }}</div>
	{% endfor %}
	<br>
	<h6><b>Categories</b></h6>
	{% for cat in subscriptions_cat %}
		<div>{{ cat }}</div>
	{% endfor %}
	<br>
	{% if subscribed_content %}
		<table class="table table-hover">
		<tr><th>Posts</th><th>Author</th></tr>
	 		{% for post in subscribed_content %}
				<tr class="pointer" onclick="document.location='/{{ post.id }}'">
					 <td>{{ post.title }}</td><td> ({{post.author}})</td>
				</tr>
	 		{% endfor %}
		</table>
	{% endif %}
{% endblock %}
