{% extends "base.html" %}
{% block title %}Subscriptions{% endblock %}
{% block content %}
	<h2>Subscriptions</h2>
	<h6><b>Authors</b></h6>
	{% for author in subscriptions %}
		<div>{{ author }}</div>
		<td>
			<button class="btn btn-outline-secondary btn-sm" onclick="document.location='/unsubscribe_author/{{ author.id }}'">					Unsubscribe
			</button>
		</td>
	{% endfor %}
	<br>
	<h6><b>Categories</b></h6>
	{% for cat in subscriptions_cat %}
		<div>{{ cat }}</div>
		<td>
			<button class="btn btn-outline-secondary btn-sm" onclick="document.location='/unsubscribe_category/{{ cat.id }}'">
				Unsubscribe
			</button>
		</td>
	{% endfor %}
	<br>
	{% if subscribed_content %}
		<table class="table table-hover"> 
		<tr><th>Posts</th><th>Author</th></tr>
	 		{% for post in subscribed_content %}
				<tr class="pointer" onclick="document.location='/{{ post.id }}'">
					 <td>{{ post.title }}</td><td> ({% for author in post.author.all %}
														{{ author.username }},
                                        			{% endfor %})</td>
				</tr>
	 		{% endfor %}
		</table>
	{% endif %}
{% if not_subscribed_authors %}
<br>

<h2>Other</h2>
<table class="table table-hover">
	<tr>
		<th>Author</th>
	</tr>
	{% for author in not_subscribed_authors %}
		<tr>
			 <td>
				 {{ author }}
			 </td>
			<td>
				<button class="btn btn-outline-secondary btn-sm" onclick="document.location='/subscribe_author/{{ author.id }}'">
					Subscribe
				</button>
			</td>
		</tr>
	{% endfor %}
</table>
{% endif %}

{% if not_subscribed_categories %}
<table class="table table-hover">
	<tr>
		<th>Category</th>
	</tr>
	{% for category in not_subscribed_categories %}
		<tr>
			 <td>
				 {{ category }}
			 </td>
			<td>
				<button class="btn btn-outline-secondary btn-sm" onclick="document.location='/subscribe_category/{{ category.id }}'">
					Subscribe
				</button>
			</td>
		</tr>
	{% endfor %}
</table>
{% endif %}
{% endblock %}
